# ============================
# 🔧 APP CONFIGURATION
# ============================

# Porta do servidor NestJS
PORT=

# URL do frontend autorizado no CORS
CLIENT_URL=

# ============================
# 🔧 DATABASE (MongoDB)
# ============================

# URL completa de conexão MongoDB Atlas
MONGO_URI=